{% extends "base.html" %}
{% block 'body' %}
{% load static %}

<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" >
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="w-100" src="{% static 'imag/aboutnew.jpg' %}" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center" style=" top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0;
            background: rgba(9, 30, 62, .7);
            z-index: 1;">
                <div class="p-3" style="max-width: 900px;">
                    <h5 class="text-white text-uppercase mb-3 animated slideInDown">Creative & Innovative</h5>
                    <h1 class="display-1 text-white mb-md-4 animated zoomIn">Creative & Innovative Digital Solution</h1>

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="w-100" src="{% static 'img/carousel-2.jpg' %}" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center" style=" top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0;
            background: rgba(9, 30, 62, .7);
            z-index: 1;">
                <div class="p-3" style="max-width: 900px;">
                    <h5 class="text-white text-uppercase mb-3 animated slideInDown">Creative & Innovative</h5>
                    <h1 class="display-1 text-white mb-md-4 animated zoomIn">Creative & Innovative Digital Solution</h1>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
  </div>
    <!-- About Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h5 class="fw-bold text-primary text-uppercase">About Us</h5>
                        <h1 class="mb-0">where consulting website provide for you the best consult for your case </h1>
                    </div>
                    <p class="mb-4">We are a team of dedicated consultants who are passionate about helping individuals and organizations achieve their goals and reach their full potential. Our years of experience have allowed us to develop the expertise necessary to provide high-quality consulting services that deliver tangible results. We pride ourselves on our personalized approach, tailoring our solutions to meet the unique needs of each client we work with. Our commitment to excellence, dedication to our clients' success, and extensive knowledge and expertise make us the go-to choice for consulting services.</p>
                    <div class="row g-0 mb-3">
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Best consulting</h5>
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Professional Staff</h5>
                        </div>
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>24/7 Support</h5>
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Tailored Solutions</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-4 wow fadeIn" data-wow-delay="0.6s">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="mb-2">Call to ask any question</h5>
                            <h4 class="text-primary mb-0">05045484247</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="{% static 'img/about.jpg' %}" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->



{% endblock 'body' %}   

   