{% extends 'base.html' %}
{% load static %}
{% block 'body' %}
    

  


<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="w-100" src="{% static 'imag/hone.jpg' %}" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center" style=" top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0;
            background: rgba(9, 30, 62, .7);
            z-index: 1;">
                <div class="p-3" style="max-width: 900px;">
                    <h5 class="text-white text-uppercase mb-3 animated slideInDown">Welcome to our consulting business</h5>
                    <h4 class="display-1 text-white mb-md-4 animated zoomIn">consulting website, where results matter.</h4>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'consulat:add_counslating' %}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">add consulting</a>
                    <a href="{% url 'consulat:consulat_list' %}" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">view consulting </a>
                    {% else %}
                    <a href="{% url 'accounts:signup' %}" class="btn btn-primary py-2 px-4 ms-3">sginup</a>
                    <a href="{% url 'login' %}" class="btn btn-primary py-2 px-4 ms-3">login</a>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="carousel-item ">
            <img class="w-100" src="{% static 'img/carousel-2.jpg' %}" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center" style=" top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0;
            background: rgba(9, 30, 62, .7);
            z-index: 1;">
                <div class="p-3" style="max-width: 900px;">
                    <h5 class="text-white text-uppercase mb-3 animated slideInDown">Welcome to our consulting business</h5>
                    <h1 class="display-1 text-white mb-md-4 animated zoomIn">consulting services, tailored to your unique needs.</h1>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'consulat:add_counslating' %}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">add consulting</a>
                    <a href="{% url 'consulat:consulat_list' %}" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">view consulting </a>
                    {% else %}
                    <a href="{% url 'accounts:signup' %}" class="btn btn-primary py-2 px-4 ms-3">sginup</a>
                    <a href="{% url 'login' %}" class="btn btn-primary py-2 px-4 ms-3">login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



<!-- Features Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Why Choose Us</h5>
            <h1 class="mb-0">Our consulting services are help you to design business</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-cubes text-white"></i>
                        </div>
                        <h4>Best consulting</h4>
                        <p class="mb-0">Exerience the best consulting services with us, tailored to your unique needs</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-award text-white"></i>
                        </div>
                        <h4>Tailored Solutions</h4>
                        <p class="mb-0">We offer personalized solutions tailored to your unique needs, ensuring that you receive the support you need to succeed.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;"> 
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="{% static 'img/feature.jpg' %}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-users-cog text-white"></i>
                        </div>
                        <h4>Expertise and Knowledge</h4>
                        <p class="mb-0">With our extensive expertise and knowledge, we provide expert guidance and support that sets you up for success.</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <h4>24/7 Support</h4>
                        <p class="mb-0">where here for you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features Start -->


<!-- Service Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Our Services</h5>

        </div>
        <div class="row g-5">
            {% for obj in service %}
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-shield-alt text-white"></i>
                    </div>
                    <h4 class="mb-3">{{obj.name}}</h4>
                    </a>
                </div>
            </div>    
            {% endfor %}


        </div>
    </div>
</div>
<!-- Service End -->




{% endblock 'body' %}